.searchBarContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 375px;
  padding: 20px 30px;
  color: var(--input-color);
  border-radius: 5px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  background-color: var(--element-color);
}

.searchBarContainer > svg {
  margin-right: 20px;
}

.searchInput {
  border: none;
  outline: none;
  width: 100%;
  background-color: var(--element-color);
}

.searchInput::placeholder {
  color: var(--input-color);
}

@media screen and (min-width: 768px) {
  .searchBarContainer {
    margin: 0;
  }
}